.app-container {
	height: 100vh;
}
.notification {
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100vh;
	width: 100%;
}
.notification-background {
	background-color: gray;
	opacity: 0.5;
	height: 100vh;
	width: 100%;
}

.notification-panel {
	background-color: white;
	position: relative;
	height: 200px;
	width: 200px;
	opacity: 1;
}

@media only screen and (max-width: 768px) {
	.notification-panel {
		height: 120px;
		width: 120px;
		font-size: 0.6em;
	}
}