
<div class="d-flex flex-md-row flex-column justify-content-center align-items-center app-container">
	<div class="m-2">
		<game-board></game-board>
	</div>
	<div class="m-2">
		<game-console></game-console>
	</div>
</div>

<!-- Notification panel that grays out the screen if there is a winner !-->
<div class="notification" *ngIf="isWinner">
	<div class="notification-background"></div>
</div>

<div class="notification d-flex justify-content-center align-items-center" *ngIf="isWinner">
	<div class="notification-panel d-flex flex-column justify-content-center align-items-center">
		<p class="m-3"><b>{{winner}} wins!</b></p>
		<button (click)="onReset()">Play Again</button>
	</div>
</div>
