<nav class="navbar">
	<ul class="flex-container space-between">
		<li><button class="play" (click)="toggleGame()">Play {{this.chessOrCheckers === 'chess' ? 'Checkers' : 'Chess'}}</button></li>
		<li><button (click)="startGame(false)">Reset Game</button></li>
		<li class="turn">{{turn}} Turn</li>
	</ul>
</nav>

<div class="board-container flex-container justify-content align-items">
	<game-board [chessOrCheckers]="chessOrCheckers"></game-board>
</div>

<!-- Notification panel that grays out the screen if there is a winner !-->
<div class="notification" *ngIf="isWinner">
	<div class="notification-background"></div>
</div>

<div class="notification flex-container justify-content align-items" *ngIf="isWinner">
	<div class="notification-panel flex-container align-items justify-content">
		<p class="winner">{{winner}} wins!</p>
		<button (click)="startGame(false)">Play Again</button>
	</div>
</div>