.console {
	height: 500px;
	width: 100px;
}

.turn {
	height: 166px;
	width: 100px;
	font-size: 20px;
}

@media only screen and (max-width: 768px) {
	.console {
		height: 50px;
		width: 300px;
	}

	.turn {
		height: 50px;
		width: 100px;
	}
}