<div
class="square float-left"
[class.playable]="space.playable"
[class.notplayable]="!space.playable"
[class.check]="space.check"
[class.highlight]="space.highlight">
	<div *ngIf="space.piece && space.piece.game==='checkers'" 
    	(click)="checkers.clickAPiece(space.piece)"
    	class="piece flex-container align-items">
    		<div *ngIf="space.piece.type ==='pawn'">
	    		<pawn [pawn]="space.piece"></pawn>
    		</div>
    		<div *ngIf="space.piece.type ==='king'">
	    		<king [king]="space.piece"></king>
    		</div>
	</div>
	<div *ngIf="space.piece && space.piece.game==='chess'" 
    	(click)="chess.clickAPiece(space.piece)"
    	class="piece">
	    <chessPiece [chessPiece]="space.piece"></chessPiece>
	</div>
	<!-- Will eventually add a flag to say if you are playing chess or checkers to use the different service "clickEmptySpace" function !-->
	<div *ngIf="!space.piece && chessOrCheckers==='chess'"
		style="width: 100%; height: 100%"
		(click)="chess.clickEmptySpace(space)">
	</div>
	<div *ngIf="!space.piece && chessOrCheckers==='checkers'"
		style="width: 100%; height: 100%"
		(click)="checkers.clickEmptySpace(space)">
	</div>
</div>