.square {
	height: 75px;
	width: 75px;
}
.playable {
	background-color: #27802B;
}
.notplayable {
	background-color: #FDFFD3;
}
.highlight {
	background-color: yellow;
}
.check {
	background-color: red;
}

@media only screen and (max-width: 768px) {
	.square {
		height: 37.25px;
		width: 37.25px;
	}
}