<div *ngIf="chessPiece.isRed==true" 
class="d-flex flex-column justify-content-center align-items-center">
	<img *ngIf="chessPiece.type==='chessPawn'" src="./assets/Images/chess/Pawn_white.svg" 
	style="width: 95%; height: 95%">
	<img *ngIf="chessPiece.type==='rook'" src="./assets/Images/chess/Rook_white.svg" 
	style="width: 95%; height: 95%">
	<img *ngIf="chessPiece.type==='knight'" src="./assets/Images/chess/Knight_white.svg" 
	style="width: 95%; height: 95%">
	<img *ngIf="chessPiece.type==='bishop'" src="./assets/Images/chess/Bishop_white.svg" 
	style="width: 95%; height: 95%">
	<img *ngIf="chessPiece.type==='chessKing'" src="./assets/Images/chess/King_white.svg" 
	style="width: 95%; height: 95%">
	<img *ngIf="chessPiece.type==='queen'" src="./assets/Images/chess/Queen_white.svg" 
	style="width: 95%; height: 95%">
</div>

<div *ngIf="chessPiece.isRed==false" 
class="d-flex flex-column justify-content-center align-items-center">
	<img *ngIf="chessPiece.type==='chessPawn'" src="./assets/Images/chess/Pawn_black.svg" 
	style="width: 95%; height: 95%">
	<img *ngIf="chessPiece.type==='rook'" src="./assets/Images/chess/Rook_black.svg" 
	style="width: 95%; height: 95%">
	<img *ngIf="chessPiece.type==='knight'" src="./assets/Images/chess/Knight_black.svg" 
	style="width: 95%; height: 95%">
	<img *ngIf="chessPiece.type==='bishop'" src="./assets/Images/chess/Bishop_black.svg" 
	style="width: 95%; height: 95%">
	<img *ngIf="chessPiece.type==='chessKing'" src="./assets/Images/chess/King_black.svg" 
	style="width: 95%; height: 95%">
	<img *ngIf="chessPiece.type==='queen'" src="./assets/Images/chess/Queen_black.svg" 
	style="width: 95%; height: 95%">
</div>