/* You can add global styles to this file, and also import other style files */

body {
	background-color: #222;
	font-size: 1rem;
}

.flex-container {
	display: flex;
}

.justify-content {
	justify-content: center;
}

.space-between {
	justify-content: space-between;
}

.align-items {
	-ms-align-items: center;
	align-items: center;
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 0.8rem;
	}
}